In [2]:
import os
import pandas as pd
import nltk

In [3]:
df=pd.read_csv('C:/Users/santh/OneDrive/Desktop/Thiyag/BDA 102-Assignment/jokes_2.csv')
data=df.drop(['Question','ID'], axis=1)

In [4]:
data.head(10)

                                              Answer
0                He nearly drown in his own tea pee.
1                                   Mycheexarphlexin
2                                               Matt
3                                 Jean-Luc Pickacard
4                      A bullet doesn't miss Harambe
5                    He was having a mid-life crisis
6                         One shucks between fits...
7                    Kevin Durant or Bernie Sanders?
8                         Because the shark burped.
9  A bachelor will go to the fridge, sees nothing...

# Data Cleaning

In [5]:
import re
import nltk
import pandas as pd
from nltk.corpus import stopwords

In [6]:
i=0
for txt in data['Answer']:
     w_list = re.sub(r'[^a-z\s]',' ',txt.lower()).split()
     w_list=[w for w in w_list if w not in stopwords.words('english')]
     data.ix[i,'Answer']=' '.join(w_list)
     i+=1

C:\Users\santh\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """

In [7]:
data.head()

                 Answer
0  nearly drown tea pee
1      mycheexarphlexin
2                  matt
3    jean luc pickacard
4   bullet miss harambe

In [8]:
df1 = data['Answer']

# TF-IDF

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
import numpy as np

In [10]:
TFI=TfidfVectorizer(sublinear_tf=True,min_df=1,stop_words='english')
upd=TFI.fit_transform(df1)
FN=TFI.get_feature_names()

In [11]:
np.shape(upd)

(38269, 19787)

In [12]:
matx1=upd.todense()
sx1=matx1.sum(axis=0)
import numpy as np
sortL=np.argsort(sx1)

In [13]:
for i in range(0,10,1):
    print(FN[np.array(sortL)[0][i]])

izzat
plzzzz
baitha
galti
gaya
farak
sohna
kya
punjabifrnd
challo

# LSA

In [15]:
X_train, X_test = train_test_split(df1,test_size=0.2)

In [19]:
upd1 = TFI.fit_transform(X_test)

In [20]:
from scipy.linalg import svd
u,s,v=svd(upd1.todense(),full_matrices=False)

In [21]:
s.shape

(7654,)

In [22]:
rank=2
uk=u[:,0:rank]
sk=np.diag(s)[0:rank,0:rank]
vk=v[0:rank,:]

In [24]:
aa=np.argsort(vk,axis=1)
for t in range(rank):
    print('------ topic number'+str(t)+'--------')
    for i in range(10):
        print(TFI.get_feature_names()[aa[t,i]])

------ topic number0--------
aaaaaarrrrrrrrrrrrr
elf
konnichihuahua
absolute
absolutes
filf
sith
deals
holocausts
ac
------ topic number1--------
shit
got
like
tell
black
dick
cause
taste
fuck
worry